@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Slab:wght@300&display=swap');
@import url("https://www.w3schools.com/w3css/4/w3.css");

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/* Header Styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

header img {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 8rem;
}

nav li{
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2;
    text-decoration-line: none;
    list-style: none;
    display: inline-block;
    padding: 0rem 9rem;
}

nav li a:hover {
    color: rgb(100, 231, 170);
}

header button {
    padding: 0.75rem 1.5rem;
    background-color: rgba(188, 219, 204, 0.7);
    border: none;
    border-radius: 5rem;
    transition: ease-in 0.3s;
} 

header button:hover {
    background-color: rgb(190, 149, 206);
    color:rgb(162, 0, 194); 
} 

/* Adding responsiveness for phone: 320px - 765px*/

@media screen and (min-width: 320px) and (max-width: 765px) {
    header {
        background-color: coral;
    }

    nav li {
        display: block;
    }

    nav li a:hover {
        color:chartreuse;
    }
}

/* Adding responsiveness for a tablet: 766px - 1366px */

@media screen and (min-width: 766px) and (max-width: 1366px) {
    header {
        background-color:blueviolet;
    }

    nav li {
        display: block;
    }

    nav li a:hover {
        color:darkred;
    }
}
/* Footer styling */

footer {
    background-color: gray;
    padding: 2rem;
    bottom: 0;
    position: bottom;
    width: 100%;
    height: 105px;
    z-index: 1;
}

footer p {
    font-family: 'PT Sans', sans-serif;
    color:white;
    font-weight: 500;
    text-align: center;
}

footer p a {
    color:bisque;
}

/* body styling */

.pageBody{
    margin: 200px 0px 105px 0px;
    background: url("https://media.discordapp.net/attachments/782360980910768170/957114553311850506/unknown.png?width=720&height=301") no-repeat center fixed;
    background-size: cover;
    text-decoration: none;
}

.pageBody header a {
    text-decoration:none;
    color: white;
    font-size: 2.5rem;
}

.indexBody {
    margin-left: 20rem;
}

.indexBody .circles {
    animation: slidein 5s;
    animation-iteration-count:infinite;
}

/* Creates the animationfor the "slidein" animation (defined above) */
@keyframes slidein {
    /* Innition state of the animation */
    from {
        margin-left: 30%;
        /* margin-top: 10%; */
        /* width: 5%; */
    } 

    /* Final state of the animation*/
    to{
        margin-left: 15%;
        /* margin-top: 5%; */
        /* width: 5%; */
    }
} 

/* @keyframes wave {
    from
} */
.indexBody .img {
    margin-left: 30%;
}

.indexBody .square p {
    text-align: center;
}

 /* !importat says it takes priority */

.indexBody a {
    color: white;
    font-size: 6rem;
    font-family: Tahoma, "Trebuchet MS", sans-serif;
}

/* About page styling */

.myAboutPage table th h1 a {
    text-decoration: none;

}

/* Hobbies.html style */

.w3-col {
    padding-top: 6rem;
    justify-items: center;
}

.w3-col h1 {
    color: white;
    text-align: center;
    padding-right: 18%;
}

.pcgames .w3-col img {
    height: 15rem;
}

.ps4games .w3-col img {
    height: 20rem;
}

.w3-row .w3-col a {
    color: white;
    font-size: 2rem;
    font-family: Tahoma, "Trebuchet MS", sans-serif;
}